################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/household_power_consumption.txt
